{% extends 'base/index.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block title%} Agenda {% endblock title%}

{% block meta %}

{% endblock meta %}

{% block style %}

{% endblock style %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-5 mt-5">
        <span class="h3   text-capitalize">Get Login</span>

    </div>
    <div class="row">
        <div class="offset-lg-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                        <form action="{% url 'login' %}" method="post" class="px-4 py-3">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% bootstrap_form_errors form type='fields' %}
                                {% bootstrap_button content="ok" button_type='submit' size='large' button_class='btn-primary' %}



                            </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock content%}
