# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore


## PYTHON
*.pyc
__init__.py
__pycache__/

## CSS
staticfiles/

## SASS
.sass-cache/
