{% load i18n %}
{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% trans 'Espacesis - le club des passionnés du code' %}</title>
  <meta name="description" content="{% trans 'le meilleur site des passionnés du code' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <link rel="apple-touch-icon" href="{% static 'img/1.png' %}">
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#cb582c">


  {# facebook #}
  <meta property="fb:app_id" content="123456789">
  <meta property="og:url" content="https://www.espacesis.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% trans 'Espacesis - le club des passionnés du code' %}">
  <meta property="og:image" content="{% static 'img/1.png' %}">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="article:author" content="">

  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">

  {% block css %}
  {% endblock css %}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#020202; ">
      <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" width="40" height="30" alt="logo">
                <span class="h4 font-weight-bold text-uppercase">Espacesis</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                  <a class="nav-link font-weight-bold text-uppercase" href="#"> {% trans 'cours' %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link font-weight-bold text-uppercase" href="#">Forum</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-uppercase" href="#">BLOG</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-uppercase" href="#">APPS</a>
                </li>
                <li class=" my-auto ml-lg-3">
                    <a class="small btn btn-primary btn-sm font-weight-bold text-uppercase" href="{% url 'login' %}">{% trans 's\'inscrire ' %}</a>
                </li>

              </ul>
            </div>

      </div>
  </nav>

    <div class="mt-6">
        <!-- Add your site or application content here -->
        {% block content %}
        {% endblock content %}
    </div>


    {% block footer %}
    {% endblock footer%}

  {# js presence #}

  <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/vendor/popper.min.js' %}"></script>

  {% bootstrap_javascript %}

  {% block javascript %}
  {% endblock javascript %}
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
